html, body, #root, .App, .App > div, .site-content, .Router  {
    height: 100%;
}

.main {
    height: calc(100% - 56px);
}

.notification-container {
    position: absolute;
}

.Application {
    height: 100%;
    background-image: url('../Images/application-background.jpg');
    background-size: cover;
    background-position: center;
}

.Application h1 {
    padding-top: 30px;
}