nav.navbar {
    background-color: #6DAFE0;
    justify-content: space-between;
}

nav.navbar a {
    color: #403A3C;
    margin: 0 10px;
}

nav.navbar .title {
    font-weight: bold;
}

nav.navbar .navbar-collapse {
    flex-grow: unset;
}

.nav-item:hover {
    font-weight: bold;
}
  