.FindPassword {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    position: relative;
    background-image: url('../Images/general_background.jpg');
    background-size: cover;
    background-position: center;
}

.FindPassword form {
    margin: -100px auto 0 auto;
    max-width: 320px;
}

.FindPassword .findpassword-title {
    position: absolute;
    top: 15px;
    left: 0;
    right: 0;
}

.FindPassword .form-group {
    width: 300px;
}
